
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center my-3">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Execute your code from anywhere or anytime</h1>
          <h2>Making coding fun and easy</h2>
          <div>
            <a href="/" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="assets/img/hero-img.svg" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->


<div class="author">
    <h1 class="author__heading">Hi, I am Somesh.</h1>
    <p class="author__body">Web devloper and content creator.</p>
</div>

